@import "~bootstrap/scss/bootstrap";

$global-header-height: 68px;
$global-nav-bar-width: 200px;


.global-header {
  display: flex;
  min-height: $global-header-height;
}

.global-nav-bar {
  width: $global-nav-bar-width;
  border-right: 1px $gray-300 solid;
  transition: all 300ms ease-in;

  &.show-hamburger-menu {
    @include media-breakpoint-down(md) {
      width: 100vw;
      opacity: 1;
    }
  }

  &.hide-hamburger-menu {
    @include media-breakpoint-down(md) {
      width: 0;
      opacity: 0;
      z-index: -1;
    }
  }
}

.global-content-wrapper {
  flex: 1;
  overflow: auto;
}

.global-content-area {
  flex: 1;
  overflow: auto;
}

.grid-thirds {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
