@import "~bootstrap/scss/bootstrap";

.grid-thirds {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
